body
{
    font-family: Verdana;
    margin-left: 25%;
    margin-right: 25%;
}
h1
{
    text-align: center;
}
.list-group-item
{
    list-style-type: disc;
}
.bordered
{
    border-top: 1px solid lightgray;
}
.title3
{
    width: 210px;
    margin-top: -30px;
    background: white;
    font-size: 1em;
    font-weight: normal;
}
.title2
{
    width: 140px;
    margin-top: -30px;
    margin-left: 0px;
    background: white;
    font-size: 1em;
    font-weight: normal;
}
.title
{
    width: 70px;
    margin-top: -30px;
    margin-left: 0px;
    background: white;
    font-size: 1em;
    font-weight: normal;
}
.content
{
    padding-left: 10px;
    padding-right: 10px;
}
.panel
{
    border-radius: 10px;
    margin-top: 10px;
}
.panel-heading
{
    border-radius: 10px 10px 0 0;
}
.panel-body
{
    margin: 10px;
}
.list-group
{
    width: 400px;
}
.panel-primary
{
    background-color: lightgray;
}
.panel-primary .panel-heading
{
    background-color: lightgray;
}

